In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import os, sys


path='../'
if not path in sys.path:
    sys.path.append(path)
    
from review_scripts import insert_users_for_special_challenge

/Users/mahlettaye/review/review_scripts
/Users/mahlettaye/review/review_scripts
/Users/mahlettaye/review/review_scripts

In [18]:
iur =  insert_users_for_special_challenge.InsertUserSpecial_challenge(root="cms",
 ssmkey="staging/strapi/token", batch=3, role="trainee")

reading auth from file: /Users/mahlettaye/review/.env/cms.json ..
reading auth from file: /Users/mahlettaye/review/.env/cms.json ..

### Insert User

In [19]:
df = iur.get_accepted_trainee (sid = "1c82RJ9jn_ltOXd31QIy_ajohuJs5W88QXTOREVAmIHw")

reading auth from file: ~/.env/gclass_credentials.json ..
****** using service account: ~/.env/gclass_credentials.json
service account is being used without delegation..

In [20]:
df['name'] = df['name'].replace({'Rahel W. Abreham':'Rahel Abreham', 'Sharleen Mwikali Muoki':'Sharleen Mwikal','Samuel Negash Hailu':'Samuel Negash'})

In [21]:
to_exclude = ['brianodhiambo530@gmail.com','rahelweldegebriel2120@gmail.com','smlnegash@gmail.com',
'alaroabubakarolayemi@gmail.com','s.mwikali.muoki@gmail.com','lotomej12@gmail.com','natananshiferaw@gmail.com']

In [22]:
ddf= df[~df['email'].isin(to_exclude)]

In [23]:
ddf

,Timestamp,email,name,batch_string,interested,availability,Batch,role
31,23/01/2023 14:15:37,bessymukaria@gmail.com,Bessy Mukaria,Batch 3,Both 1 & 2,I can allocate some time,3,trainee
33,30/01/2023 17:20:22,nabeelseid@gmail.com,Nabil Seid Yassin,Batch 3,Both 1 & 2,I can allocate some time,3,trainee

In [24]:
all_ids, allemail = iur.insert_user(df=ddf)

bessymukaria@gmail.com Bessy Mukaria
{'data': {'register': {'user': {'id': '426', 'username': 'Bessy Mukaria', 'email': 'bessymukaria@gmail.com'}}}}
nabeelseid@gmail.com Nabil Seid Yassin
{'data': {'register': {'user': {'id': '427', 'username': 'Nabil Seid Yassin', 'email': 'nabeelseid@gmail.com'}}}}

In [26]:
all_ids

['426', '427']

In [27]:
ddf['user']=all_ids
ddf['uemail']=allemail

/var/folders/dp/57y4rbx55kxdswwsnmzgp_j40000gn/T/ipykernel_10207/3486713206.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ddf['user']=all_ids
/var/folders/dp/57y4rbx55kxdswwsnmzgp_j40000gn/T/ipykernel_10207/3486713206.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ddf['uemail']=allemail

In [28]:
ddf

,Timestamp,email,name,batch_string,interested,availability,Batch,role,user,uemail
31,23/01/2023 14:15:37,bessymukaria@gmail.com,Bessy Mukaria,Batch 3,Both 1 & 2,I can allocate some time,3,trainee,426,bessymukaria@gmail.com
33,30/01/2023 17:20:22,nabeelseid@gmail.com,Nabil Seid Yassin,Batch 3,Both 1 & 2,I can allocate some time,3,trainee,427,nabeelseid@gmail.com

In [32]:
iur.insert_all_users(ddf)

/Users/mahlettaye/review/review_scripts
{'data': {'id': 1907, 'attributes': {'name': 'Bessy Mukaria', 'email': 'bessymukaria@gmail.com', 'role': 'trainee', 'createdAt': '2023-02-01T09:21:28.009Z', 'updatedAt': '2023-02-01T09:21:28.009Z', 'image_link': None, 'Batch': 3}}, 'meta': {}}
{'data': {'id': 1908, 'attributes': {'name': 'Nabil Seid Yassin', 'email': 'nabeelseid@gmail.com', 'role': 'trainee', 'createdAt': '2023-02-01T09:21:28.492Z', 'updatedAt': '2023-02-01T09:21:28.492Z', 'image_link': None, 'Batch': 3}}, 'meta': {}}
All records are inserted

In [41]:
iur.insert_reviewers()

/Users/mahlettaye/review/review_scripts
Index(['all_user', 'Email', 'batches'], dtype='object')
{'all_user': '1907', 'Email': 'bessymukaria@gmail.com', 'batches': 3}
{'data': {'id': 162, 'attributes': {'createdAt': '2023-02-01T09:31:25.895Z', 'updatedAt': '2023-02-01T09:31:25.895Z', 'Email': 'bessymukaria@gmail.com'}}, 'meta': {}}
{'all_user': '1908', 'Email': 'nabeelseid@gmail.com', 'batches': 3}
{'data': {'id': 163, 'attributes': {'createdAt': '2023-02-01T09:31:41.150Z', 'updatedAt': '2023-02-01T09:31:41.150Z', 'Email': 'nabeelseid@gmail.com'}}, 'meta': {}}
All records are inserted

In [39]:
iur.insert_group()

/Users/mahlettaye/review/review_scripts
{'data': {'id': 8, 'attributes': {'Name': 'B3', 'createdAt': '2023-01-23T13:35:24.616Z', 'updatedAt': '2023-01-23T13:35:24.616Z'}}, 'meta': {}}